---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  <p>{{ page.date | date: "%B %d, %Y" }}</p>
  <div>{{ content }}</div>
</article>

<hr>

<h3>Related Posts</h3>
<ul>
  {% for post in site.posts %}
    {% if post.url != page.url %}
      <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<footer>
  <h2>Important Links</h2>
  <ul>
    <li><a href="https://x.com/KelexBawz" target="_blank">Twitter</a></li>
    <li><a href="https://www.facebook.com/profile.php?id=100076294920588" target="_blank">Facebook</a></li>
    <li><a href="https://www.threads.net/@kelexseo" target="_blank">Threads</a></li>
  </ul>
</footer>
